.container {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	z-index: 1;
}
.textInput {
    position: relative;
}
.logo {
    text-align: center;
    font: 24px system-ui;
    padding-bottom: 10px;
}
.placeHolder {
	font: 11px system-ui;
	position: absolute;
	top: 3;
	left: 3;
	z-index: 2;
} 
.invisible {
	opacity: 0;
    padding-left: 2;
}
.visible {
	opacity: .5;
	user-select: none;
}
